<h1>Confirm the adoption</h1>

<h2><%= @animal.name %></h2>
<p><%= 'Type: ' %><%= @animal.category %></p>
<p><%= 'Birth: ' %><%= @animal.birth %></p>
<p><%= 'Adopted: ' %><%= @animal.adopted = true %></p>
<% if @animal.id == 5 %>
  <%= 'Owner: Raphael' %>
<% elsif @animal.id == 6 %>
  <%= 'Owner: Gerson' %>
<% elsif @animal.id == 7 %>
  <%= 'Owner: Suzana' %>
<% elsif @animal.id == 8 %>
  <%= 'Owner: Sheila' %>
<% else @animal.id == 9 %>
  <%= 'Owner: Afrânio' %>
<% end %>
